.Chip {
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #fde4a1;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.selected {
    background-color: #bca159;
    color: #fff;
}
