.ChipsList {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popupButton {
    background-color: #c7c7c7;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    text-align: center;

    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
}
